{% extends 'base.html' %}

{% block content %}
{% if listings %}
<ul class="list-group">
  {% for listing in listings %}
  <li class="d-flex list-group-item flex-row align-items-center">
    <div class="p-2">
      <img src="{{ listing['photos'][0]['_links']['thumbnail']['href'] }}" />
    </div>
    <h2 class="p-2">
      <a href="{{ url_for('listing_detail', listing_slug=listing['slug']) }}">
        {{ listing['title'] }}
      </a>
    </h2>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}